<ngb-carousel [interval]="false" [showNavigationIndicators]="false" #dateCarousel="ngbCarousel"> 
    <ng-template ngbSlide *ngFor="let dateArr of finalArray;let i = index" id="{{i}}"> 
      <div class="picsum-img-wrapper date-custom-display">
        <div class="date-container">
            <div class="dateTile" *ngFor="let dateObj of dateArr"        
                (click)="onDateClick($event,dateObj.index)" 
                [attr.valueObj]="dateObj.dateVal |date:'dd-LL-yyyy'"
                [ngClass]="{'active-date': selectedItemIndex == dateObj.index}">
              {{dateObj.dateVal |date:'fullDate' }}
            </div>
        </div>
      </div>
    </ng-template>
</ngb-carousel> 